* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after　{
	content: "";
	display: block;
	clear: both;
}

.header {
	height: 50px;
	background-color: red;
}

.main {
	height: 500px;
	width: 100%;
	background-color: orange;
}

.main-visual {
	height: 1400px;
	width: 960px;
	background-color: lightgreen;
	margin: 0 auto;

}

.box {
	float: left;
	background-color: limegreen;
	width: 500px;
	height: 1400px;
	margin: 0 230px;
}

.footer {
	height: 100px;
	background-color: blue;
}